# Compiled source #
###################
server/node_modules/

# Auto generated config file #
client/app/scripts/config.js
client/app/scripts/helper.js

# VIM stuff #
*.swp

# Server stuff #
*nohup*
*.DS_Store
