$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.grid-item-time {
  cursor: pointer;
  border: .0625rem solid #e0e7e9;
  border-right: none;
}

.grid-item-time.active-time {
  color: #ff7f50;
}

.grid-item-time:hover {
  background-color: rgba(235,243,245,0.3);
}

.grid-item-time:last-child {
  border-right: .0625rem solid #e0e7e9;
}

#delivery-time-selector {
  height: 55px;
}

.time-selector-text-wrappper{
  height:100%;
  display:table;
  padding-right:0px;
}

.date-selector {
  margin: 0;
  padding-left: 0px;
}

.time-selector-text {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}

.dish-details {
  margin-top: 15px;
  height:35rem;
  list-style-position:inside;
}

.dish-content-wrapper {
  height: 100%;
  border: .0625rem solid #d2dcdf;
}

.dish-image {
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  left: 0;
  top: 0;
  cursor: pointer;
}

hr.dish-image-content-spacer {
  margin: 0;
  padding: 1rem;
  border: none;
}

.dish-title, .dish-price {
  font-style: normal;
  font-weight: 300;
  margin: 0;
  margin-left: 1.5rem;
 }

 .dish-seller-name {
  cursor: pointer;
  padding-top: 1rem;
  color:#757575;
  margin-left: 1.5rem;
 }

 .dish-price {
  display:inline;
  vertical-align: -webkit-baseline-middle;
 }

 .order-details {
  position: relative;
 }
 .order-details button {
    right: 2rem;
    position: absolute;
 }

/*view order page style*/
.no-border th{
  border-bottom: 0 !important;
}

.no-border td{
  border-top: 0 !important;
}

.order-basic-info {
  background-color: #f6f6f6;
  border: .0625rem solid #d2dcdf;
}

.order-detail-info{
  margin-top:-20px;
  border-bottom: .0625rem solid #d2dcdf;
  border-left: .0625rem solid #d2dcdf;
  border-right: .0625rem solid #d2dcdf;
  height:185px;
}

.order-item-image{
  margin-top:14px;
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  left: 0;
  top: 0;
}
.buton-action-container{
  display: table;
  height:100%
}

.button-wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.order-cancel-button{
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}

.order-item-info ul{
    height:100%;
    display: table;
    table-layout: fixed;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
}

.order-item-info li
{
    display: table-row;
}