<ng-include src="'views/item-nav.html'" />

<!-- Image carousel -->
<div id="gallery" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators" ng-repeat="i in images">
    <li ng-repeat="i in images" data-target="#gallery" data-slide-to="{{$index}}" ng-class="{active: $first}" />
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div ng-repeat="i in images" ing-class="{item, active: $first}">
      <img ng-src="{{i.url}}">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div>
  <h3>{{ item.title }}</h3>
  <p>Description: {{ item.description }}</p>
  <p>Price/Inventory: ${{ item.price }} @ {{ item.inventory }}</p>
  <br />
  <p>Gallery ID: {{ item._gallery._id }}</p>
</div>

