<!-- time selection filter -->
<div id="delivery-time-selector">
    <ul class="block-grid-xs-7" style="margin: 0;">
        <li class="grid-item-time" ng-repeat="day in nextSevenDays">{{day}}</li>
    </ul>
</div>

<item-view item="items" seller-view="false"></item-view>

<!-- pagination icon (see more on https://angular-ui.github.io/bootstrap/#/pagination) -->
<ul style="float:right;" uib-pagination items-per-page="limit" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>