<table>
    <thead>
        <th>Id</th>
        <th>Count</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th>Pick Up Time</th>
        <th>Note</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Update Date</th>
    </thead>
    <tbody>
        <tr ng-repeat="o in orders">
            <td width="400px"><a ng-href="/#/order/{{ o._id }}">{{ o._id }}</a></td>
            <td width="400px">{{ o.count }}</td>
            <td width="400px">${{ o.unit_price }}</td>
            <td width="400px">${{ o.total_price }}</td>
            <td width="800px">{{ order.pick_up_date | amUtc | amLocal | amDateFormat:'YYYY-MM-DDTHH:mm:ss.SSSSZ' }}</td>
            <td width="400px">{{ o.note }}</td>
            <td width="400px">{{ o.status }}</td>
            <td width="400px">{{ o.create_date }}</td>
            <td width="400px">{{ o.update_date }}</td>
        </tr>
    </tbody>
</table>
