<ng-include src="'views/item-nav.html'" />

<div>
  <h3>{{ order.title }}</h3>
  <p>Order Number: {{ order._id }}</p>
  <p>Count: {{ order.count }}</p>
  <p>Unit Price: ${{ order.unit_price }}</p>
  <p>Total Price: ${{ order.total_price }}</p>
  <p>Status: {{ order.status }}</p>
  <p>Note: {{ order.note }}</p>
  <p>Pick Up Time: {{ order.pick_up_date | amUtc | amLocal | amDateFormat:'YYYY-MM-DDTHH:mm:ss.SSSSZ' }}</p>
  <p>Order Date: {{ order.create_date }}</p>
  <p>Order Update Date: {{ order.update_date }}</p>
</div>
