<form>
  <div>
    <label>Name: </label>
    <p>{{ item.title }}</p>
  </div>
  <div>
    <label>Price: </label>
    <p>${{ item.unit_price }}</p>
  </div>
  <div>
    <label>Count</label>
    <input type="text" ng-model="order.count" id="count" />
  </div>
  <div>
    <label ng-show="!item.availability.pickup_window.free_sell">Meal type:
      <input type="radio" ng-model="meal_type" value="lunch" ng-change='setTimePicker(true)'> Lunch
      <input type="radio" ng-model="meal_type" value="dinner" ng-change='setTimePicker(true)'> Dinner
    </label>
  </div>
  <div>
    <label>Pick Up Time: </label>
    <datetimepicker
      hour-step="1"
      minute-step="15"
      ng-model="order.pick_up_date"
      show-meridian="showMeridian"
      date-format="{{format}}"
      date-options="dateOptions"
      date-disabled="disabled(date, mode)"
      datepicker-append-to-body="false"
      readonly-date="false"
      disabled-date="!showDateTimePicker"
      hidden-time="true"
      hidden-date="false"
      name="datetimepicker"
      show-spinners="true"
      readonly-time="true"
      date-opened="dateOpened"
      show-button-bar="false"
      ng-change='setTimePicker(false)'>
    </datetimepicker>
    <div uib-timepicker
      ng-model="order.pick_up_date"
      hour-step="hstep"
      minute-step="mstep"
      show-meridian="showMeridian"
      min = "minTime"
      max = "maxTime"
      ng-disabled = "!showDateTimePicker">
    </div>
  <div>
    <label>Note</label>
    <input type="text" ng-model="order.note" id="note" />
  </div>
  <!-- <pre>{{item|json}}</pre> -->
  <pre>{{order|json}}</pre>
  <pre>{{minTime|json}}</pre>
  <pre>{{maxTime|json}}</pre>
  <input type="submit" ng-click="saveOrder()" value="Order Now" />
</form>
</div>
