<h1>Hi {{user.username}}!</h1>
<p>You're logged in!!</p>

<ul>
  <li>ID: {{user._id}}</li>
  <li>Username: {{user.username}}</li>
  <li>Email: {{user.email}}</li>
  <li>Password: {{user.password}}</li>
  <li>Seller: {{user.isSeller}}</li>
  <li>First Name: {{user.firstname}}</li>
  <li>Last Name: {{user.lastname}}</li>
  <li>Address: {{user.address}}</li>
  <li>City: {{user.city}}</li>
  <li>Zip Code: {{user.zip}}</li>
  <li>Contact Number: {{user.contact}}</li>
  <li>About: {{user.about}}</li>
  <li>Auth Data: {{user.authdata}}</li>
</ul>
